@media (max-width:1200px){
    .youtube {
      grid-template-columns:70px 1fr;
    }
    
    .header {
      gap: 6px;
    }
  
    .sidebar-items__texto, .sidebar-items__txt-ayuda {
      display: none;
    }
  
    .sidebar-items {
      padding: 0;
    }
  
    .sidebar-items__icon {
      margin: 0 13px;
    }
  
    .chips-warpper {
      max-width: calc(100vw - 70px);
    }
}
  
@media (max-width:800px){
  
    .search-container__barra {
      display: none;
    }
  
    .icons-header--search {
      border-radius: 50%;
      margin-left: 10px;
    }
}