.header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--colorPrincipal);
    width: var(--totalidadTamano);
    height: var(--tamanoHeader);
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
  
.logo-container {
    display: flex;
    align-items: center;
    gap: var(--tamanoGap);
    height: var(--totalidadTamano);
}

.imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--totalidadTamano);
    height: var(--totalidadTamano);
    object-fit: contain;
}

.icons-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    color: var(--blanco);
    border: none;
    border-radius: var(--bordeRedondo);
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}
  
.logo {
    display: flex;
    align-items: center;
    gap: var(--tamanoGap);
    color: var(--blanco);
    letter-spacing: -1px;
    font-size: 0.8rem;
}
  
.logo__youtube {
    position: relative;
    height: 25px;
    width: 30px;
}

/*Barra de busqueda*/
.search-container {
    display: flex;
    align-items: center;
    gap: var(--tamanoGap);
    flex: 0 1 685px;
}
  
.search-container__buscador {
    position: relative;
    width: var(--totalidadTamano);
    display: flex;
}
  
.search-container__barra {
    height: 40px;
    width: var(--totalidadTamano);
    background-color: var(--fondoBarraBusqueda);
    color: var(--letraBarraBusqueda);
    padding: 12px;
    outline: none;
    border: var(--tamanoBorde) var(--estiloBordes) var(--colorBordes);
    border-radius: 10px 0 0 10px;
}
  
.icons-header--search {
    background-color: var(--fondoBoton);
    border-radius: 0 10px 10px 0;
}
  
.icons-header--search:hover {
    background-color: var(--colorHoverBoton);
    transition: 0.8s;
}
  
.icons-header--microphone {
    background-color: var(--fondoBoton);
    border-radius: var(--bordeRedondo);
}

/*Perfil*/
.profile-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
  
.icons-header--icon-profile:hover {
    background-color: var(--colorHoverBoton);
    transition: 0.8s;
}
  
.icons-header--logo-profile {
    position: relative;
    border-radius: var(--bordeRedondo);
    overflow: hidden;
}